
/* Generics */

body{
    padding: 0;
    margin: 0;
    background-color: #EEE;
    font-family: sans-serif;
}
section{
    padding: 1em;
}
.notwide{
    max-width: 800px;
    margin: 0 auto;
}
.twocol{
    display: flex;
    align-items: center;
}
.column{
    flex: 50%;
}

/* Top Navigation Bar */

#top{
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
#top h1{
    display:inline;
    margin: 0;
}
#top a{
    color: #0FF;
}

/* Splash Image */
#splash{
    padding: 5em 0;
    background-image: url("../images/cover-alt.jpg");
}
.title, .meeting{
    text-align: center;
}
.title h1{
    color: white;
    font-size: 4em;
    margin: 0;
}
.meeting{
    font-size: 2em;
}

/* Content */
#content{
    padding: 1em;
    background-color: #edfff8;
}
#content .twocol{
    align-items:baseline;
}
#content .column{
    margin: 0 1em;
}
#content h1{
    /* color: #00a5a5; */
    /* text-decoration: underline; */
    text-align: center;
}

/* Call to Action */
#cta{
    padding: 1em;
    background-color: #e7d2ff;
    text-align: center;
}

/* Rochester Blockchain Scene */
#local{
    padding: 1em;
    background-color: #FFF;
}

/* Footer */
footer{
    color: white;
    background-color: #000;
    padding: 1em;
    text-align: center;
    padding: 0.5em;
}
