/* Splash Image */
#splash{
    z-index: -1;
    padding: 5em 0;
    color: white;
    background-image: url("../images/cover-alt.jpg");
    background-position: relative;
    position: relative;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#lastmeeting{
  font-size: 1em;
}

#title, #meeting{
    text-align: center;
}

#title h1{
    color: white;
    font-size: 4em;
    margin: 0;
}

#meeting{
    font-size: 1em;
}
