/* Splash Image */
#splash{
    padding: 5em 0;
    color: white;
    /*padding: 5em 0;*/
    background-image: url("../images/cover-alt.jpg");
    background-position: relative;
    position: relative;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 150%;
}

#lastmeeting{
  font-size: 1em;
}

#title, #meeting{
    text-align: center;
}

#title h1{
    color: white;
    font-size: 4em;
    margin: 0;
}'
#meeting{
    font-size: 3em;
}

@media screen and (max-width: 600px) {
  #splash{
    padding: 5em 0;
    color: white;
    /*padding: 5em 0;*/
    background-image: url("../images/cover-alt.jpg");
    background-position: relative;
    position: relative;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 200%;
  }
}